<!DOCTYPE html>
<html lang="en">
<head>
    {{> headLink}}
</head>
<body>
    {{> header}}
    <div class="page-wrapper">
        <h2 class="">This is homepage header.</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam faucibus pharetra odio id blandit. Phasellus a tortor sed
            lacus pharetra semper quis non odio. Integer egestas, turpis
            rhoncus imperdiet mattis, dolor ante bibendum turpis, at euismod 
            ante est eu urna. Suspendisse rutrum, sem at sollicitudin placerat,
            libero elit commodo tellus, quis tempor turpis sapien quis turpis.
            Sed ullamcorper egestas massa non gravida. Donec sodales suscipit elit,
            ac posuere odio pulvinar quis. Nullam ut eros consequat sem convallis
            venenatis. Nam auctor mi non aliquam dictum. Nam sed nunc elit.
            Curabitur rhoncus cursus nisl eu pharetra. Nam eu consectetur purus, 
            vel imperdiet odio. Ut pharetra, nibh vitae rutrum scelerisque, tortor
            felis cursus elit, in condimentum quam dolor a tortor. Suspendisse 
            eleifend augue vitae cursus luctus. 
        </p>
    </div>
    {{> footer}}
</body>
</html>