<footer class="footer-wrapper">
    <div class="container">
        <div class="copyright-section">
            <span class="copyright-text">
                This belongs to Asmita!
            </span>
        </div>
    </div>
</footer>