<header class="head-wrapper">
    <nav class="navbar-wrapper">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/weather">Weather</a>
            </li>
        </ul>
    </nav>
</header>